{
  "extends": "airbnb",
  "ecmaFeatures": {
    "restParams": true,
    "spread": true,
    "experimentalObjectRestSpread": true,
    'generators': true
  },
  "rules": {
    "comma-dangle": 0,
    "new-cap": [2, { "capIsNewExceptions": ["List", "Map"] }]
  }
}
